[Unit]
Description=Sigul vault server (template)
After=network.target
Documentation=https://fedorahosted.org/sigul/

[Service]
ExecStart=/usr/sbin/sigul_server -c /etc/sigul/server-%i.conf --internal-log-dir=/var/log/sigul-%i --internal-pid-dir=/run/sigul-%i -v
Type=simple

[Install]
WantedBy=multi-user.target
